@mixin styleText($fs, $fw, $color) {
    font-size: $fs;
    font-weight: $fw;
    color: $color;
}

@mixin styleButton($py, $px, $bg, $bd) {
    padding: $py $px;
    background: $bg;
    border: $bd;
    // giống nhau giữa các button nên ko cần đổi tham số
    border-radius: $bd-2;
}

@mixin styleButtonHover($bg, $bd, $color) {
    background: $bg;
    border-color: $bd;
    color: $color;
}