//color
$color-black: #181818;
$color-gray: #abb8c3;
$color-white: #ffffff;
$color-pink: #f78da7;
$color-red: #cf2e2e;
$color-orange: #ff6900;

//font size
$fs-1: .75rem;
$fs-2: .8rem;
$fs-3: 13px;
$fs-4: .9rem;
$fs-5: 1rem;
$fs-6: 15px;
$fs-7: 1.1 rem;
$fs-8: 1.55rem;
$fs-9: 2.5rem;
$fs-10: 3.8rem;

//font weight
$fw-1: 400;
$fw-2: 600;
$fw-3: 700;

//letter spacing
$ls-1: 0.015rem;
$ls-2: 0.03rem;

//Padding
$pd-1: 25px;
$pd-2: 225px;
$pd-3: 13px;
$pd-4: 44px;
$pd-5: 100px;
$pd-6: 8px;
$pd-7: 60px;
$pd-8: 150px;

//Margin
$mg-1: 30px;
$mg-2: 25px;
$mg-3: 70px;
$mg-4: 60px;

//border
$bd-1: 2px;
$bd-2: 8px;

//break points
$breakpoints: (
    "extra-large": 1200px,
    "large": 992px,
    "medium": 768px,
    "small": 576px
);