header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background-color: $color-white-1;

    box-shadow: 0 2px 4px $color-white-2;
    .navbar-brand {
        @include styleText($fs-3, $fw-3, $color-blue-2);
    }

    .nav-link {
        @include styleText($fs-2, $fw-2, $color-blue-1);
        transition: all .5s;
        &::after {
            display: block;
            content: '';
            width: 100%;
            height: 3px;
            background-color: $color-blue-2;
            transform: scaleX(0);
            transition: all .5s;
        }

        // .nav-link:hover::after
        &:hover {
            color: $color-blue-2;
            &::after {
                transform: scaleX(1);
            }
        }
    }

    .active {
        .nav-link {
            color: $color-blue-2;
            &::after {
                transform: scaleX(1);
            }
        }
    }
}